{% extends 'layout.html' %} {% load static %} 
{% load crispy_forms_tags %} {% block body %}
<div class="resume">
  <div class="resume_left">
    <div class="work">
      <h2 class="sub-heading">Work Experience</h2>
      <div class="work-history">
        <div class="icon"><i class="fas fa-briefcase"></i></div>
        <p class="date">07/2021</p>
        <div class="icon"><i class="fas fa-location-arrow"></i></i></div>
        <p class="date">BRNO, CZECH REPUBLIC, SHENZHEN, CHINA</p>
        <div class="work-position">
          <h3>Software Engineer</h3>
        </div>
        <p class="date"></p>
      </div>
      <div class="work-history">
        <div class="icon"></div>
        <p class="date">11/2021</p>
        <div class="icon"></div>
        <p class="date"></p>
        <div class="work-position">
          <h3>Web Developer Kickresume</h3>
        </div>
        <p class="date">
          Developing web application for creating beautiful resumes, cover
          letters, and personal websittes
        </p>
      </div>
      <div class="work-history">
        <div class="icon"></div>
        <p class="date"></p>
        <div class="icon"></div>
        <p class="date"></p>
        <div class="work-position"></div>
        <p class="date"></p>
      </div>
    </div>
  </div>
  <div class="resume_right">
    <div class="heading">
      <h1 class="name">Abdulmumin Akinde</h1>
    </div>
    <div class="img-container">
      <img src="" alt="" />
    </div>
    <div class="p_info">
      <h2>Personal Info</h2>
    </div>
    <div class="icon"></div>
    <p>Nigeria</p>
    <div class="icon"></div>
    <p>Lagos, Nigeria</p>
    <div class="icon"></div>
    <p>lanreywaju97@gmail.com</p>
    <div class="icon"></div>
    <p>task3-zuri.herokuapp.com</p>
    <div class="skills">
      <h2>Skills</h2>

    </div>
  </div>
</div>
{% endblock %}