body {
  background-color: #f4f4f2;
  text-align: center;
}

ul {
  list-style-type: none;
}

header {
  margin: 10px 10px;
  background-color: #f4f4f2;
}

/* Classes */
.education {
  padding: 15px;
}

.skill {
  padding: 15px;
}

.language {
  padding: 15px;
}

.resume {
  background-color: #bbbfca;
}

.resume-div {
  padding: 15px;
}

.contact {
  background-color: #495464;
}

.contact h2 {
  color: white;
}

.main-heading {
  color: rgb(36, 32, 28);
  font-style: italic;
}

.logo {
  width: 100px;
  height: 100px;
  display: block;
}

.container {
  background-color: #000000;
}

.container h2,
p {
  color: #ffe6e6;
  font-size: 0.5rem;
}

.right-box {
  background-color: #ffe6e6;
}

.p-info p {
  color: #bd1616;
}
